<div class="container mt-4 text-center">
    <h3>Generación de Reportes PDF</h3>
    <div class="row mt-4">
        <div class="col-md-4">
            <a asp-action="ReporteReservas" class="btn btn-outline-danger btn-lg w-100 p-4">
                Listado de Reservas [cite: 56]
            </a>
        </div>
        <div class="col-md-4">
            <a asp-action="ReportePorUsuario" class="btn btn-outline-danger btn-lg w-100 p-4">
                Reservas por Usuario [cite: 57]
            </a>
        </div>
        <div class="col-md-4">
            <a asp-action="ReporteMasReservados" class="btn btn-outline-danger btn-lg w-100 p-4">
                Hoteles más Reservados [cite: 58]
            </a>
        </div>
    </div>
</div>